<br>
<div *ngIf="dataLoaded == false" class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<ul *ngIf="dataLoaded == true" class="list-group">
    <li class="list-group-item" id="headers">Colors</li>
    <li (click)="reset()" 
    [class] = "getAllColorClass()"
    class="list-group-item "
    routerLink="/cars">Tüm Renkler</li>

    <li (click)="setCurrentColor(color)" 
    routerLink="/cars/color/{{color.id}}" 
    [class]="setCurrentColorClass(color)"
    *ngFor="let color of colors" 
    class="list-group-item">{{color.name}}</li>
</ul>