<nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Car Rental</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Anasayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/cars">Arabalar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/brands">Markalar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/colors">Renkler</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/customers">Kullanıcılar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/rentals">Kiralamalar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/operations">İşlemler</a>
          </li>
          <app-cart></app-cart>
        </ul>
      </div>
  </div>
</nav>