<div class="container" style="margin:15px 0 25px 0;" *ngIf="cartItems">
    <div class="row d-flex aligns-items-center justify-content-center">
        <div class="col-md-8 ">
            <div class="card">
                <div *ngFor="let cartItem of cartItems" class="d-flex aligns-items-center justify-content-center"
                    style="margin-right: 20px;">
                    <div class="card-footer vertical">
                        <p class="bold-2">{{cartItem.brandName + " "}}{{cartItem.carName |
                            uppercase}}</p>
                    </div>
                    <div class="card-body">
                        <img class="card-img-top image"
                            src="{{carImagePath}}{{cartItem.carImages[0].imagePath}}" />
                        <p class="card-title card-ttt">{{cartItem.modelYear}} </p>
                        <p class="card-text">
                            {{cartItem.description.substring(0,cartItem.description.substring(0,180).lastIndexOf("
                            "))}}...</p>
                        <button class="btn button-6" (click)="removeFromCart(cartItem)">Kaldır</button>
                    </div>
                    <div class="card-footer vertical">
                        <span class="bold">{{ " " + cartItem.dailyPrice | currency}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 total-sec">
            <h3 class="total">Toplam Tutar</h3>
            <h5 class="total">{{totalRentPrice | currency}}</h5>
        </div>
    </div>
</div>