.images{
    width: 100% !important;
    height: 700px;
}
#page-headers {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Montserrat, sans-serif;
    font-size: 55px;
    font-weight: 600;
    text-align: center;
    border-radius: 25px;
    justify-content: center;
    padding: 12px 0 12px 0;
    text-shadow: 4px 4px 12px rgba(50, 50, 93, 0.6);
    box-shadow: rgba(50, 50, 93, 0.15) 0px 50px 100px -20px, rgba(0, 0, 0, 0.2) 0px 30px 60px -30px;
}
