#card-responsive{
   margin:auto auto;
}
.pagination{
   margin-top: 10px;
   justify-content: center;
}
.button-6 {
   align-items: center;
   background-color: rgb(255, 238, 0);
   border-radius: .25rem;
   box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
   box-sizing: border-box;
   color: rgb(255, 255, 255);
   cursor: pointer;
   display: inline-flex;
   font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 16px;
   font-weight: 600;
   justify-content: center;
   line-height: 1.25;
   margin: 0;
   height: 2.4rem;
   padding: calc(.875rem - 1px) calc(1.5rem - 1px);
   position: relative;
   text-decoration: none;
   transition: all 350ms;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   vertical-align: baseline;
   width: auto;
}

   .button-6:hover,
   .button-6:focus {
       border-color: rgba(0, 0, 0, 0.15);
       box-shadow: rgba(0, 0, 0, 0.3) 0 4px 12px;
       color: black;
       background-color: white;
   }

   .button-6:hover {
       transform: translateY(-1px);
   }

   .button-6:active {
       background-color: #F0F0F1;
       border-color: rgba(0, 0, 0, 0.15);
       box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
       color: rgba(0, 0, 0, 0.65);
       transform: translateY(0);
   }
   #page-headers {
      margin-top: 15px;
      margin-bottom: 15px;
      font-family: Montserrat, sans-serif;
      font-size: 55px;
      font-weight: 600;
      text-align: center;
      border-radius: 25px;
      justify-content: center;
      padding: 12px 0 12px 0;
      text-shadow: 4px 4px 12px rgba(50, 50, 93, 0.6);
      box-shadow: rgba(50, 50, 93, 0.15) 0px 50px 100px -20px, rgba(0, 0, 0, 0.2) 0px 30px 60px -30px;
  }
  