<h1 style="text-align: center;">Cars</h1>
<div *ngIf="dataLoaded == false" class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded == true" class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Car Id</th>
            <th>Brand Id</th>
            <th>Color Id</th>
            <th>Model Year</th>
            <th>DailyPrice</th>
            <th>Description</th>
            <th>Car Detail</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let car of cars">
            <td>{{car.id}}</td>
            <td>{{car.brandId}}</td>
            <td>{{car.colorId}}</td>
            <td>{{car.modelYear}}</td>
            <td>{{car.dailyPrice}} ₺</td>
            <td>{{car.description}}</td>
            <td><button 
                (click)="setCurrentCar(car)" 
                routerLink="/car/carDetails/{{car.id}}"
                class="btn btn-warning">Detail</button></td>
        </tr>
    </tbody>
</table>