<br>
<h1 style="text-align: center;">This is Operations Page!</h1>
<br>

<div class="row" >
    <div class="col-md-6" style="justify-content: center; display:flex;">
        <ul>
            <li>
                <p> Marka Eklemek için aşağıdaki butonu kullanın.</p>
            </li>
            <a routerLink="/brands/add" class="btn btn-warning">Marka Ekleme Sayfasına Gidiniz</a>
        </ul>
    </div>
    <div class="col-md-6" style="justify-content: center; display:flex;">
        <ul>
            <li>
                <p> Renk Eklemek için aşağıdaki butonu kullanın.</p>
            </li>
            <a routerLink="/colors/add" class="btn btn-success">Renk Ekleme Sayfasına Gidiniz</a>
        </ul>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12" style="justify-content: center; display:flex;">
            <ul>
                <li>
                    <p> Araba Eklemek için aşağıdaki butonu kullanın.</p>
                </li>
                <a routerLink="/cars/add" class="btn btn-danger">Araba Ekleme Sayfasına Gidiniz</a>
            </ul>
    </div>
</div>