<h1 style="text-align: center;">Customers</h1>
<div *ngIf="dataLoaded == false" class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
</div>
<table *ngIf="dataLoaded == true" class="table table-hover table-striped">
    <thead>
        <tr>
            <th>UserId</th>
            <th>Company Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <td>{{customer.userId}}</td>
            <td>{{customer.companyName}}</td>
        </tr>
    </tbody>
</table>